<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section th:fragment="messages">
		<div class="container d-flex justify-content-center mt-4">
			<div class="row d-flex justify-content-center">
				<div class="col-md-12 text-center font-weight-bold text-white">
					<div th:if="${success !=null}" class="alert alert-success"
						th:utext="${success}"></div>
					<div th:if="${error != null}" class="alert alert-danger"
						th:utext="${error}"></div>

				</div>
			</div>
		</div>
	</section>

</body>
</html>