<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
</head>
<body>

	<section th:fragment="plantaForm">
	
		<div class="container my-3">
			<div class="row d-flex justify-content-center" th:object="${planta}">
				<div class="col-md-12">
					<form class="form-group" method="POST" th:action="@{/planta/ver}"
					th:object="${planta}">
						<div class="container">
							<div class="row">
								<div class="col-md-6">
								<h2 th:text="#{text.edificio.name}"></h2>
									<h2 >
										<span th:text="${edificio.getNombreEdificio()}"></span>
									</h2>
								</div>
								<div class="col-md-6">
									<label for="planta" th:text="#{text.edificio.select}">Selecciona una planta</label> <select
										id="planta" th:field="*{id}"
										class="browser-default custom-select">
										<option th:each="p: ${edificio.getPlantas()}"
											th:value="${p.getId()}"> <span
												th:text="${p.getNombrePlanta()}"></span>
										</option>
										
									</select>
									<input type="hidden" th:value="${idRegistro}" name="idRegistro"/>
								</div>
							</div>
						</div>
						
						
						
						<div class="row d-flex justify-content-center mt-3">
							<button type="submit" class="btn btn-primary" th:text="#{text.edificio.btn.buscar}">Buscar
								planta</button>
						

						</div>
					</form>
					<form class="row form d-flex justify-content-center mt-3" th:if="${planta.getNombrePlanta().contains('0')}"
					 th:action="@{/planta/ver/azahar}"
					 method="GET">
						<input type="hidden" th:value="${idRegistro}" name="idRegistro"/>
						<button type="submit" 
							class="btn btn-pink" th:text="#{text.edificio.btn.azahar}">Planta azahar</button>
					</form>
				</div>
			</div>
		</div>
	</section>

</body>
</html>