<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head">
</head>
<style>
html, body, header, #intro {
	height: 100%;
}
</style>

<meta charset="utf-8" />
<!--Main Navigation-->
<header>
	<!--Navbar-->
	<nav
		class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">

		<div class="container">

			<!-- Navbar brand -->
			 <a class="navbar-brand" href="#">
                <img th:src="@{/img/indra-logo-footer.png}" height="30" alt="mdb logo">
            </a>

			<!-- Collapse button -->
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#basicExampleNav" aria-controls="basicExampleNav"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<!-- Collapsible content -->
			<div class="collapse navbar-collapse" id="basicExampleNav">

				<!-- Links -->
				<ul class="navbar-nav mr-auto smooth-scroll">
					<li class="nav-item"><a class="nav-link" href="#intro" th:href="@{/}" th:text="#{text.home}">Home</a>
					</li>
					 <li class="nav-item" sec:authorize="hasRole('ROLE_VISUALIZAR')">
                        <a class="nav-link" th:href="@{/registro/listar}" th:text="#{text.buscar.registro}">Buscar registro</a>
                    </li>
					<li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')"><a
						class="nav-link" th:href="@{/doc/upload}" th:text="#{text.nuevo.registro}">Nuevo registro</a></li>
					
					<li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')"><a
						class="nav-link" th:href="@{/usuarios/registro}"
						th:text="#{text.nuevo.usuario}">Nuevo Usuario</a></li>


				</ul>
				
				<!-- Links -->

				<!-- Social Icon  -->
				<ul class="navbar-nav nav-flex-icons">

					<li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
                            
								<form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="POST">
									<input type="hidden" th:name="${_csrf.parameterName}"
										th:value="${_csrf.token}">
									<button class="dropdown-item" type="submit" th:text="#{text.home.cerrar.sesion}">Logout</button>
								</form>
                        </div>
                    </li>
				</ul>
				
			</div>
			<!-- Collapsible content -->

		</div>

	</nav>
	<!--/.Navbar-->
	<!--Mask-->
	<!--Mask-->
	<div id="intro" class="view">

		<div class="mask rgba-black-strong">

			<div
				class="container-fluid d-flex align-items-center justify-content-center h-100">

				<div class="row d-flex justify-content-center text-center">

					<div class="col-md-10">

						<!-- Heading -->
						<h2 class="display-4 font-weight-bold white-text pt-5 mb-2" th:text="#{text.bienvenido}">Bienvenido
							a Censo Indra</h2>

						<!-- Divider -->
						<hr class="hr-light">

						<!-- Description -->
						<div sec:authorize="!isAuthenticated()">
						<h4 class="white-text my-4">Por favor, inicie sesión para
							acceder a la plataforma.</h4>
						<a type="button" class="btn btn-outline-primary" th:href="@{/login}"
						th:text="#{text.btn.inicio}">
							Iniciar Sesión<i class="fas fa-sign-in-alt ml-2" ></i>
						</a>
						</div>
						
						
						<div sec:authorize="isAuthenticated()">
						<form th:action="@{/logout}" method="POST">
									<input type="hidden" th:name="${_csrf.parameterName}"
										th:value="${_csrf.token}">
									<button class="btn btn-outline-primary" type="submit" 
									th:text="#{text.btn.cerrar}">Cerrar Sesión</button>
								</form>
						</div>
						<div>
							<a
									class="waves-effect waves-light p-2"
									th:href="@{/locale(lang=en_US)}"> <img src="/img/usa.png"
										alt="avatar mx-auto white" class="rounded-circle img-fluid">
								</a>
								<a
									class="waves-effect waves-light p-2"
									th:href="@{/locale(lang=es_ES)}"> <img
										src="/img/espana.png" alt="avatar mx-auto white"
										class="rounded-circle img-fluid">
								</a>
						
						</div>

					</div>

				</div>

			</div>

		</div>

	</div>
	<!--/.Mask-->
	<!--/.Mask-->
</header>
<!--Main Navigation-->

<!--./Main Navigation-->





<!-- Footer -->
<footer th:replace="layout/layout :: footer"></footer>
<!-- Footer -->






</body>
</html>