<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<meta charset="utf-8" />
<body>
	<div class="main-content">
		<!--Main Navigation-->
		<header th:replace="layout/layout :: header"> </header>
		<!--Main Navigation-->

		<!--Main layout-->
		<main>





		<div class="container py-4">
			<div class="row d-flex justify-content-center">
				<div class="col-md-10">

					<div class="card-container">

						<div class="card-header indra-minsait-rosa">
							<h3 th:text="#{text.registro.titulo}">Listado de Registros</h3>
						</div>
						<br>

						<table class="table text-center">
							<thead>
								<tr>
									<th th:text="#{text.registro.version}">VERSIÓN</th>
									<th th:text="#{text.registro.fecha}">FECHA</th>
									<th th:text="#{text.registro.autor}">AUTOR SUBIDA</th>
									<th th:text="#{text.registro.borrar}">BORRAR VERSIÓN</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="r: ${registros}">
									<td>
										<p th:text="${r.getVersion()}"></p>
									</td>
									<td>
										<p th:text="${r.getFechaSubida()}"></p>
									</td>
									<td>
										<p th:text="${r.getAutorSubida().getUsername()}"></p>
									</td>
									<td>
										<a class="btn btn-danger btn-sm" onclick="return confirm('¿Estas seguro que quieres eliminar?');" th:text="#{text.registro.btn.borrar}">
											<i class="fas fa-trash-alt mr-1" ></i> Eliminar
										</a>
									</td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>
			</div>


		</div>
		</main>
		<footer th:replace="layout/layout :: footer"></footer>
		<!-- Footer -->

	</div>
</body>
</body>
</html>