<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout :: head">

</head>
<meta charset="utf-8" />

<body>

	<div class="main-content">

		<!--Main Navigation-->
		<header th:replace="layout/layout :: header"> </header>
		<!--Main Navigation-->

		<!--Main layout-->
		<main>
		<section th:replace="./buscarplanta :: plantaForm"></section>
		<div class="container py-4">

			<!-- Crear una tarjeta para contener todo -->
			<div class="card">

				<!-- Tarjeta 1 con el título -->
				<div class="card-header indra-color text-white"
					th:text="#{text.azahar.title}">Empleados de la Planta Azahar</div>

				<!-- Tarjeta 2 con el cuerpo -->

				<div class="card-body">



					<!--Tabla de la base de datos con todos sus atributos-->

					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th th:text="#{text.azahar.npuesto}">Nº Puesto</th>
									<th th:text="#{text.azahar.nombre}">Nombre</th>
									<th th:text="#{text.azahar.apellido}">Apellidos</th>
									<th th:text="#{text.azahar.nick}">Nick</th>
									<th th:text="#{text.azahar.nempleado}">Número Empleado</th>
									<th th:text="#{text.azahar.departamento}">Departamento</th>


								</tr>
							</thead>
							<tbody>
							 <tr th:each="puesto: ${puestos}" 
							 th:id="${puesto.getEmpleado() == null} ? '' : ${puesto.getEmpleado().getIdEmpleadoAuto()}"
							 th:class=" ${puesto.getEmpleado() != null} ? 'dpto' + ${puesto.getEmpleado().getUe().getUeRepercutible().getIdAuto()} : ''">
									
									<td th:text="${puesto.getIdPuesto()}"></td>
									<td th:if="${puesto.getEmpleado() == null}" th:text="#{text.azahar.empty}"></td>
									<td th:if="${puesto.getEmpleado() != null}" th:text="${puesto.empleado.getNombre()}"></td>
									<td th:if="${puesto.getEmpleado() == null}" th:text="#{text.azahar.empty}"></td>
									<td th:if="${puesto.getEmpleado() != null}" th:text="${puesto.empleado.getApellido()}"></td>
									<td th:if="${puesto.getEmpleado() == null}" th:text="#{text.azahar.empty}"></td>
									<td th:if="${puesto.getEmpleado() != null}" th:text="${puesto.empleado.getNick()}"></td>
									<td th:if="${puesto.getEmpleado() == null}" th:text="#{text.azahar.empty}"></td>
									<td th:if="${puesto.getEmpleado() != null}" th:text="${puesto.empleado.getNumeroEmpleado()}"></td>
									<td th:if="${puesto.getEmpleado() == null}" th:text="#{text.azahar.empty}"></td>
									<td th:if="${puesto.getEmpleado() != null}" th:text="${puesto.getEmpleado().getUe().getUeRepercutible().getNombreUeRepercutible()}"></td>
									
													

								</tr>	
							</tbody>


						</table>


					</div>

				</div>

			</div>
		</div>
		</main>
		<!--Main layout-->

		<!-- Footer -->
		<footer th:replace="layout/layout :: footer"></footer>
		<!-- Footer -->

		<script th:inline="javascript">
			var empleadoBuscado = [[${empleadoSeleccionado}]]
			if (empleadoBuscado != null) {
				var idTr = "tr#" + empleadoBuscado.idEmpleadoAuto;
				console.log(idTr);
				var fila = $(idTr);
				if (fila != null) {
					$(fila).prop('class', "table-success");
				}
			}
		</script>
	</div>
</body>

</html>