<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout :: head">

</head>
<meta charset="utf-8" />

<body>

	<div class="main-content">

		<!--Main Navigation-->
		<header th:replace="layout/layout :: header"> </header>
		<!--Main Navigation-->

		<!--Main layout-->
		<main>
		<section th:replace="./buscarplanta :: plantaForm"></section>

		<div class="container-fluid">


			<div class="row my-3">
				<!-- Contenedor con el mapa de la planta baja-->
				<div class="container-fluid">
					<div class="table-responsive">
						<table class="table table-borderless">

							<tbody>
								<!-- Fila 4-->
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td></td>

									<td></td>
									<td></td>
									<td></td>
									<td></td>

									<td></td>
									<td></td>
									<td></td>
									<td></td>

									<td></td>
									<td></td>
									<td></td>
									<td></td>

									<td></td>
									<td></td>
								</tr>
								<!-- Fin Fila 4-->

								<!-- Fila 5-->
								<tr>
									<td></td>
									<td class="muro"></td>
									<td class="muro"></td>
									<td class="muro"></td>

									<td class="muro"></td>
									<td class="muro"></td>
									<td class="muro"></td>
									<td class="muro"></td>

									<td></td>
									<td></td>
									<td class="muro"></td>
									<td class="muro"></td>

									<td class="muro"></td>
									<td class="muro"></td>
									<td class="muro"></td>
									<td class="muro"></td>

									<td class="muro"></td>
									<td></td>

								</tr>
								<!-- Fin Fila 5-->

								<!-- Fila 6-->
								<tr>
									<td></td>
									<td class="muro"></td>
									<td class="muro"></td>
									<td class="muro"></td>

									<td class="muro"></td>
									<td class="muro"></td>
									<td class="muro"></td>
									<td class="muro"></td>

									<td></td>
									<td></td>
									<td class="muro"></td>
									<td class="muro"></td>

									<td class="muro"></td>
									<td class="muro"></td>
									<td class="muro"></td>
									<td class="muro"></td>

									<td class="muro"></td>
									<td></td>

								</tr>
								<!-- Fin Fila 6-->

								<!-- Fila 7-->
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td></td>

									<td></td>
									<td></td>
									<td></td>
									<td></td>

									<td></td>
									<td></td>
									<td></td>
									<td></td>

									<td></td>
									<td></td>
									<td></td>
									<td></td>

									<td></td>
									<td></td>
								</tr>
								<!-- Fin Fila 7-->

								<!-- Fila 8 a 10-->
								<tr>
									<td></td>
									<td>
										<div class="puestos text-center"></div>
									</td>
									<td>
										<div class="puestos text-center"></div>
									</td>
									<td>
										<div class="puestos text-center"></div>
									</td>

									<td>
										<div class="puestos text-center"></div>
									</td>
									<td>
										<div class="puestos text-center"></div>
									</td>
									<td>
										<div class="puestos text-center"></div>
									</td>
									<td>
										<div class="puestos text-center"></div>
									</td>

									<td></td>
									<td></td>
									<td>
										<div class="puestos text-center"></div>
									</td>
									<td>
										<div class="puestos text-center"></div>
									</td>

									<td>
										<div class="puestos text-center"></div>
									</td>
									<td>
										<div class="puestos text-center"></div>
									</td>
									<td>
										<div class="puestos text-center"></div>
									</td>
									<td>
										<div class="puestos text-center"></div>
									</td>

									<td>
										<div class="puestos text-center"></div>
									</td>
									<td></td>

								</tr>
								<!-- Fin Fila 8 a 10-->



								<!-- Fila 11 a 12-->
								<tr>
									<td></td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>

									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>

									<td></td>
									<td></td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>

									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>

									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td></td>

								</tr>
								<!-- Fin Fila 11 a 12-->

								<!-- Fila 13 a 14-->
								<tr>
									<td></td>
									<td>
										<div class="puestos text-center"></div>
									</td>
									<td>
										<div class="puestos text-center"></div>
									</td>
									<td>
										<div class="puestos text-center"></div>
									</td>

									<td>
										<div class="puestos text-center"></div>
									</td>
									<td>
										<div class="puestos text-center"></div>
									</td>
									<td>
										<div class="puestos text-center"></div>
									</td>
									<td>
										<div class="puestos text-center"></div>
									</td>

									<td></td>
									<td></td>
									<td>
										<div class="puestos text-center"></div>
									</td>
									<td>
										<div class="puestos text-center"></div>
									</td>

									<td>
										<div class="puestos text-center"></div>
									</td>
									<td>
										<div class="puestos text-center"></div>
									</td>
									<td>
										<div class="puestos text-center"></div>
									</td>
									<td>
										<div class="puestos text-center"></div>
									</td>

									<td>
										<div class="puestos text-center"></div>
									</td>
									<td></td>

								</tr>
								<!-- Fin Fila 13 a 14-->



								<!-- Fila 15 a 16-->
								<tr>
									<td></td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>

									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>

									<td></td>
									<td></td>

									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>

									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>


									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>

									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>

									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>

									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>

									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td></td>

								</tr>
								<!-- Fin Fila 15 a 16-->

								<!-- Fila 16-->
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td></td>

									<td></td>
									<td></td>
									<td></td>
									<td></td>

									<td></td>
									<td></td>
									<td></td>
									<td></td>

									<td></td>
									<td></td>
									<td></td>
									<td></td>

									<td></td>
									<td></td>
								</tr>
								<!-- Fin Fila 16-->

								<!-- Fila 17-->
								<tr>
									<td></td>
									<td class="muro"></td>
									<td class="muro"></td>
									<td class="muro"></td>

									<td class="muro"></td>
									<td class="muro"></td>
									<td></td>
									<td></td>

									<td></td>
									<td></td>
									<td></td>
									<td></td>

									<td class="muro"></td>
									<td class="muro"></td>
									<td class="muro"></td>
									<td class="muro"></td>

									<td class="muro"></td>
									<td></td>

								</tr>
								<!-- Fin Fila 17-->

								<!-- Fila 18-->
								<tr>
									<td></td>
									<td class="muro"></td>
									<td class="muro"></td>
									<td class="muro"></td>

									<td class="muro"></td>
									<td class="muro"></td>
									<td></td>
									<td></td>

									<td></td>
									<td></td>
									<td></td>
									<td></td>

									<td class="muro"></td>
									<td class="muro"></td>
									<td class="muro"></td>
									<td class="muro"></td>

									<td class="muro"></td>
									<td></td>

								</tr>
								<!-- Fin Fila 18-->

								<!-- Fila 19-->
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td></td>

									<td></td>
									<td></td>
									<td></td>
									<td></td>

									<td></td>
									<td></td>
									<td></td>
									<td></td>

									<td></td>
									<td></td>
									<td></td>
									<td></td>

									<td></td>
									<td></td>
								</tr>
								<!-- Fin Fila 19-->



								<!-- Fila 20 a 21-->
								<tr>
									<td></td>
									<td>
										<div class="puestos text-center"></div>
									</td>
									<td>
										<div class="puestos text-center"></div>
									</td>

									<td>
										<div class="puestos text-center"></div>
									</td>
									<td>
										<div class="puestos text-center"></div>
									</td>
									<td>
										<div class="puestos text-center"></div>
									</td>
									<td>
										<div class="puestos text-center"></div>
									</td>
									<td>
										<div class="puestos text-center"></div>
									</td>
									<td></td>
									<td></td>

									<td>
										<div class="puestos text-center"></div>
									</td>

									<td>
										<div class="puestos text-center"></div>
									</td>
									<td>
										<div class="puestos text-center"></div>
									</td>
									<td>
										<div class="puestos text-center"></div>
									</td>
									<td>
										<div class="puestos text-center"></div>
									</td>

									<td>
										<div class="puestos text-center"></div>
									</td>
									<td>
										<div class="puestos text-center"></div>
									</td>
									<td></td>

								</tr>
								<!-- Fin Fila 20 a 21-->

								<!-- Fila 22 a 23-->
								<tr>
									<td></td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>

									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>

									<td></td>
									<td></td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td></td>

								</tr>
								<!-- Fin Fila 22 a 23-->




								<!-- Fila 24 a 25-->
								<tr>
									<td></td>
									<td>
										<div class="puestos text-center"></div>
									</td>
									<td>
										<div class="puestos text-center"></div>
									</td>
									<td>
										<div class="puestos text-center"></div>
									</td>
									<td>
										<div class="puestos text-center"></div>
									</td>

									<td>
										<div class="puestos text-center"></div>
									</td>

									<td>
										<div class="puestos text-center"></div>
									</td>

									<td>
										<div class="puestos text-center"></div>
									</td>


									<td></td>
									<td></td>
									<td>
										<div class="puestos text-center"></div>
									</td>

									<td>
										<div class="puestos text-center"></div>
									</td>


									<td>
										<div class="puestos text-center"></div>
									</td>

									<td>
										<div class="puestos text-center"></div>
									</td>

									<td>
										<div class="puestos text-center"></div>
									</td>

									<td>
										<div class="puestos text-center"></div>
									</td>


									<td>
										<div class="puestos text-center"></div>
									</td>

									<td></td>

								</tr>
								<!-- Fin Fila 24 a 25-->

								<!-- Fila 26 a 27-->
								<tr>
									<td></td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>

									<td></td>
									<td></td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>

									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>

									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>

									<td></td>

								</tr>
								<!-- Fin Fila 26 a 27-->



								<!-- Fila 28-->
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td></td>

									<td></td>
									<td></td>
									<td></td>
									<td></td>

									<td></td>
									<td></td>
									<td></td>
									<td></td>

									<td></td>
									<td></td>
									<td></td>
									<td></td>

									<td></td>
									<td></td>
								</tr>
								<!-- Fin Fila 28-->

								<!-- Fila 29-->
								<tr>
									<td></td>
									<td class="muro"></td>
									<td class="muro"></td>
									<td class="muro"></td>

									<td class="muro"></td>
									<td class="muro"></td>
									<td></td>
									<td></td>

									<td></td>
									<td></td>
									<td></td>
									<td></td>

									<td class="muro"></td>
									<td class="muro"></td>
									<td class="muro"></td>
									<td class="muro"></td>

									<td class="muro"></td>
									<td></td>

								</tr>
								<!-- Fin Fila 29-->

								<!-- Fila 30-->
								<tr>
									<td></td>
									<td class="muro"></td>
									<td class="muro"></td>
									<td class="muro"></td>

									<td class="muro"></td>
									<td class="muro"></td>
									<td></td>
									<td></td>

									<td></td>
									<td></td>
									<td></td>
									<td></td>

									<td class="muro"></td>
									<td class="muro"></td>
									<td class="muro"></td>
									<td class="muro"></td>

									<td class="muro"></td>
									<td></td>

								</tr>
								<!-- Fin Fila 30-->


								<!-- Fila 31 a 32-->
								<tr>
									<td></td>
									<td>
										<div class="puestos text-center"></div>
									</td>
									<td>
										<div class="puestos text-center"></div>
									</td>
									<td>
										<div class="puestos text-center"></div>
									</td>

									<td>
										<div class="puestos text-center"></div>
									</td>
									<td>
										<div class="puestos text-center"></div>
									</td>
									<td>
										<div class="puestos text-center"></div>
									</td>
									<td>
										<div class="puestos text-center"></div>
									</td>

									<td></td>
									<td></td>
									<td>
										<div class="puestos text-center"></div>
									</td>
									<td>
										<div class="puestos text-center"></div>
									</td>

									<td>
										<div class="puestos text-center"></div>
									</td>
									<td>
										<div class="puestos text-center"></div>
									</td>
									<td>
										<div class="puestos text-center"></div>
									</td>
									<td>
										<div class="puestos text-center"></div>
									</td>

									<td>
										<div class="puestos text-center"></div>
									</td>
									<td></td>

								</tr>
								<!-- Fin Fila 31 a 32-->

								<!-- Fila 33 a 34-->
								<tr>
									<td></td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>

									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>

									<td></td>
									<td></td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>

									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>

									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td></td>

								</tr>
								<!-- Fin Fila 33 a 34-->



								<!-- Fila 35 a 36-->
								<tr>
									<td></td>
									<td>
										<div class="puestos text-center"></div>
									</td>

									<td>
										<div class="puestos text-center"></div>
									</td>
									<td>
										<div class="puestos text-center"></div>
									</td>

									<td>
										<div class="puestos text-center"></div>
									</td>
									<td>
										<div class="puestos text-center"></div>
									</td>
									<td>
										<div class="puestos text-center"></div>
									</td>
									<td>
										<div class="puestos text-center"></div>
									</td>

									<td></td>
									<td></td>
									<td>
										<div class="puestos text-center"></div>
									</td>
									<td>
										<div class="puestos text-center"></div>
									</td>

									<td>
										<div class="puestos text-center"></div>
									</td>
									<td>
										<div class="puestos text-center"></div>
									</td>
									<td>
										<div class="puestos text-center"></div>
									</td>
									<td>
										<div class="puestos text-center"></div>
									</td>

									<td>
										<div class="puestos text-center"></div>
									</td>
									<td></td>

								</tr>
								<!-- Fin Fila 35-->



								<!-- Fila 37 a 38-->
								<tr>
									<td></td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>

									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>

									<td></td>
									<td></td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>

									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>

									<td>
										<div class="puestos puestosInv text-center"></div>
									</td>
									<td></td>

								</tr>
								<!-- Fin Fila 37 a 38-->



								<!-- Fila 39-->
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td></td>

									<td></td>
									<td></td>
									<td></td>
									<td></td>

									<td></td>
									<td></td>
									<td></td>
									<td></td>

									<td></td>
									<td></td>
									<td></td>
									<td></td>

									<td></td>
									<td></td>
								</tr>
								<!-- Fin Fila 39-->

								<!-- Fila 40-->
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td></td>

									<td></td>
									<td></td>
									<td></td>
									<td></td>

									<td></td>
									<td></td>
									<td></td>
									<td></td>

									<td></td>
									<td></td>
									<td></td>
									<td></td>

									<td></td>
									<td></td>
								</tr>
								<!-- Fin Fila 40-->

								<!-- Fila 41 a 42-->
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td></td>

									<td></td>
									<td></td>
									<td></td>
									<td>
										<div class="puestos text-center"></div>
									</td>

									<td></td>
									<td></td>
									<td></td>
									<td></td>

									<td></td>
									<td></td>
									<td></td>
									<td></td>

									<td></td>
									<td></td>

								</tr>
								<!-- Fin Fila 41-->




							</tbody>
						</table>

					</div>


				</div>

				<!-- Fin del Contenedor con el mapa de la planta baja-->
			</div>

		</div>

		<!--  MODAL -->
		<div class="modal fade" id="modal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog cascading-modal modal-avatar modal-sm"
				role="document">
				<!--Content-->
				<div class="modal-content">
					<div style="display: none">
						<div class="modal-header">
							<img
								src="https://mdbootstrap.com/img/Photos/Avatars/img%20%281%29.jpg"
								alt="avatar" class="rounded-circle img-responsive">
						</div>
						<!--Body-->
						<div id="modalInsert" class="modal-body text-center mb-1">

							<hr>
							<h6 class="mt-1 mb-2">
								Nombre: <span id=nameEmpl>${empleado.nombre}</span>
							</h6>
							<h6 class="mt-1 mb-2">
								Apellidos: <span id=surnameEmpl>${empleado.apellido}</span>
							</h6>
							<hr>

							<h5 class="mt-1 mb-2">
								Nº Empleado:<span id=numEmpl>${empleado.numeroEmpleado}</span>
							</h5>
							<h5 class="mt-1 mb-2">
								Nick: <span>${empleado.nick}</span>
							</h5>
							<hr>
							<button type="button" class="btn btn-danger btn-sm"
								data-dismiss="modal">
								<i class="fas fa-times"></i>
							</button>


						</div>
						<!--Fin del Body-->

					</div>
				</div>
			</div>
		</div>
		</main>
		<!--Main layout-->

		<!-- Footer -->
		<footer th:replace="layout/layout :: footer"></footer>
		<!-- Footer -->





		<script th:inline="javascript">

            const url = 'http://localhost:8080/planta/ver/0';
            var puesto;
            var html;
            var idRegistro = [[${idRegistro}]]; 
            var divs = $('div.puestos');
              
            $.ajax({
    		    url: url,
    		    type: "GET",
    		    data: {
    		        "idRegistro" : idRegistro
    		    },
    		    contentType: 'application/json',
    		    dataType: 'json',
    		    success: function (data) {
	            	for (var i = 0; i < divs.length; i++) {
	            		if (i < data.length) {
	            			puesto = data[i];

	            			html = seleccionarPuestoOcupadoOVacio(puesto, divs[i], i);
	    					$(divs[i]).data("empleado", puesto.empleado);
	    					$(divs[i]).attr("id", puesto.idPuestoAuto);
	    					var x = $(divs[i]).data("empleado");
	    					console.log(x);
	                    	$(divs[i]).html(html);
	   
						}
            		
             		}

    		    }	

            });

        </script>

		<script type="text/javascript"
			th:src="@{/js/packagepuesto/infoempleado.js}"></script>

	</div>

</body>

</html>