<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout :: head">
</head>
<meta charset="utf-8" />

<body>
	<div class="main-content">
		<!--Main Navigation-->
		<header th:replace="layout/layout :: header"> </header>
		<!--Main Navigation-->

		<!--Main layout-->
		<main>
		<div class="container-fluid">


			<section th:replace="./buscarplanta :: plantaForm"></section>

			<!-- Fin del Contenedor con nombre de la planta y desplegable de la version-->
		</div>

		<div class="row">
			<!-- Contenedor con el mapa de la primera planta-->
			<div class="container-fluid">
				<div class="table-responsive">
					<table class="table table-borderless">

						<tbody>
							<!-- Fila 4-->
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<!-- Fin Fila 4-->

							<!-- Fila 5-->
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td class="muro"></td>
								<td class="muro"></td>
								<td class="muro"></td>
								<td class="muro"></td>

								<td class="muro"></td>
								<td class="muro"></td>
								<td class="muro"></td>
								<td class="muro"></td>

								<td class="muro"></td>
								<td class="muro"></td>
								<td class="muro"></td>
								<td class="muro"></td>

								<td class="muro"></td>
								<td class="muro"></td>
								<td class="muro"></td>
								<td class="muro"></td>

								<td class="muro"></td>
								<td class="muro"></td>
								<td class="muro"></td>
								<td></td>
								<td></td>
							</tr>
							<!-- Fin Fila 5-->
							<!-- Fila 6-->
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td class="muro"></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td class="muro"></td>
								<td class="muro"></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<!-- Fin Fila 6-->


							<!-- Fila 7 a 8-->
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td class="muro"></td>
								<td></td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>

								<td></td>
								<td></td>
								<td></td>
								<td>
									<div class="puestos text-center"></div>
								</td>

								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td class="muro-falso"></td>
								<td class="muro-falso"></td>

								<td></td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>

								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td></td>
							</tr>
							<!-- Fin Fila 7 a 8-->

							<!-- Fila 9 a 10-->
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td class="muro"></td>
								<td></td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>

								<td></td>
								<td></td>
								<td></td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>

								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td class="muro-falso"></td>
								<td class="muro-falso"></td>

								<td></td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>

								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td></td>
							</tr>
							<!-- Fin Fila 9 a 10-->



							<!-- Fila 11-->
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td class="muro"></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td class="muro"></td>
								<td class="muro"></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<!-- Fin Fila 11-->

							<!-- Fila 12-->
							<tr>
								<td></td>
								<td class="muro"></td>
								<td class="muro"></td>
								<td class="muro"></td>

								<td class="muro"></td>
								<td class="muro"></td>
								<td class="muro"></td>
								<td class="muro"></td>

								<td class="muro"></td>
								<td class="muro"></td>
								<td class="muro"></td>
								<td class="muro"></td>

								<td class="muro"></td>
								<td class="muro"></td>
								<td class="muro"></td>
								<td class="muro"></td>

								<td></td>
								<td></td>
								<td></td>
								<td class="muro"></td>

								<td class="muro"></td>
								<td class="muro"></td>
								<td class="muro"></td>
								<td></td>
								<td></td>
							</tr>
							<!-- Fin Fila 12-->

							<!-- Fila 13-->
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<!-- Fin Fila 13-->


							<!-- Fila 14 a 15-->
							<tr>
								<td></td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>

								<td>
									<div class="puestos text-center"></div>
								</td>
								<td></td>
								<td></td>
								<td>
									<div class="puestos text-center"></div>
								</td>

								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>

								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td></td>

								<td></td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>

								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td></td>
							</tr>
							<!-- Fin Fila 14 a 15-->

							<!-- Fila 16 a 17-->
							<tr>
								<td></td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>

								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td></td>
								<td></td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>

								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>

								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td></td>

								<td></td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>

								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td></td>
							</tr>
							<!-- Fin Fila 16 a 17-->




							<!-- Fila 18 a 19-->
							<tr>
								<td></td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>

								<td>
									<div class="puestos text-center"></div>
								</td>
								<td></td>
								<td></td>
								<td>
									<div class="puestos text-center"></div>
								</td>

								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>

								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td></td>

								<td></td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>

								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td></td>
							</tr>
							<!-- Fin Fila 18 a 19-->

							<!-- Fila 20 a 21-->
							<tr>
								<td></td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>

								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td></td>
								<td></td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>

								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>

								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td></td>

								<td></td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>

								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td></td>
							</tr>
							<!-- Fin Fila 20 a 21-->



							<!-- Fila 22-->
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<!-- Fin Fila 22-->

							<!-- Fila 23-->
							<tr>
								<td></td>
								<td class="muro"></td>
								<td class="muro"></td>
								<td class="muro"></td>

								<td class="muro"></td>
								<td class="muro"></td>
								<td class="muro"></td>
								<td class="muro"></td>

								<td class="muro"></td>
								<td class="muro"></td>
								<td class="muro"></td>
								<td class="muro"></td>

								<td class="muro"></td>
								<td class="muro"></td>
								<td></td>
								<td></td>

								<td></td>
								<td class="muro"></td>
								<td class="muro"></td>
								<td class="muro"></td>

								<td class="muro"></td>
								<td class="muro"></td>
								<td class="muro"></td>
								<td></td>
								<td></td>
							</tr>
							<!-- Fin Fila 23-->

							<!-- Fila 24-->
							<tr>
								<td></td>
								<td class="muro"></td>
								<td class="muro"></td>
								<td class="muro"></td>

								<td class="muro"></td>
								<td class="muro"></td>
								<td class="muro"></td>
								<td class="muro"></td>

								<td class="muro"></td>
								<td class="muro"></td>
								<td class="muro"></td>
								<td class="muro"></td>

								<td class="muro"></td>
								<td class="muro"></td>
								<td></td>
								<td></td>

								<td></td>
								<td class="muro"></td>
								<td class="muro"></td>
								<td class="muro"></td>

								<td class="muro"></td>
								<td class="muro"></td>
								<td class="muro"></td>
								<td></td>
								<td></td>
							</tr>
							<!-- Fin Fila 24-->

							<!-- Fila 25-->
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td class="muro"></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<!-- Fin Fila 25-->

							<!-- Fila 26-->
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td class="muro"></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<!-- Fin Fila 26-->

							<!-- Fila 27-->
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td class="muro"></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<!-- Fin Fila 27-->

							<!-- Fila 28-->
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td class="muro"></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<!-- Fin Fila 28-->

							<!-- Fila 29-->
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td class="muro"></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<!-- Fin Fila 29-->

							<!-- Fila 30-->
							<tr>
								<td></td>
								<td class="muro"></td>
								<td class="muro"></td>
								<td class="muro"></td>

								<td class="muro"></td>
								<td class="muro"></td>
								<td class="muro"></td>
								<td class="muro"></td>

								<td class="muro"></td>
								<td class="muro"></td>
								<td class="muro"></td>
								<td class="muro"></td>

								<td class="muro"></td>
								<td class="muro"></td>
								<td></td>
								<td></td>

								<td></td>
								<td class="muro"></td>
								<td class="muro"></td>
								<td class="muro"></td>

								<td class="muro"></td>
								<td class="muro"></td>
								<td class="muro"></td>
								<td></td>
								<td></td>
							</tr>
							<!-- Fin Fila 30-->

							<!-- Fila 31-->
							<tr>
								<td></td>
								<td class="muro"></td>
								<td class="muro"></td>
								<td class="muro"></td>

								<td class="muro"></td>
								<td class="muro"></td>
								<td class="muro"></td>
								<td class="muro"></td>

								<td class="muro"></td>
								<td class="muro"></td>
								<td class="muro"></td>
								<td class="muro"></td>

								<td class="muro"></td>
								<td class="muro"></td>
								<td></td>
								<td></td>

								<td></td>
								<td class="muro"></td>
								<td class="muro"></td>
								<td class="muro"></td>

								<td class="muro"></td>
								<td class="muro"></td>
								<td class="muro"></td>
								<td></td>
								<td></td>
							</tr>
							<!-- Fin Fila 31-->


							<!-- Fila 32-->
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<!-- Fin Fila 32-->



							<!-- Fila 33 a 34-->
							<tr>
								<td></td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>

								<td>
									<div class="puestos text-center"></div>
								</td>
								<td></td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>

								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>

								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td></td>
								<td></td>

								<td></td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>

								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td></td>
							</tr>
							<!-- Fin Fila 33 a 34-->

							<!-- Fila 35 a 36-->
							<tr>
								<td></td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>

								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td></td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>

								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>

								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td></td>
								<td></td>

								<td></td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>

								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td></td>
							</tr>
							<!-- Fin Fila 35 a 36-->


							<!-- Fila 37 a 38-->
							<tr>
								<td></td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>

								<td>
									<div class="puestos text-center"></div>
								</td>
								<td></td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>

								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>

								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td></td>
								<td></td>

								<td></td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>

								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td></td>
							</tr>
							<!-- Fin Fila 37 a 38-->

							<!-- Fila 39 a 40-->
							<tr>
								<td></td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>

								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td></td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>

								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>

								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td></td>
								<td></td>

								<td></td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>

								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td></td>
							</tr>
							<!-- Fin Fila 39 a 40 -->

							<!-- Fila 41-->
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<!-- Fin Fila 41-->

							<!-- Fila 42-->
							<tr>
								<td></td>
								<td class="muro"></td>
								<td class="muro"></td>
								<td class="muro"></td>

								<td class="muro"></td>
								<td class="muro"></td>
								<td class="muro"></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td class="muro"></td>
								<td class="muro"></td>

								<td class="muro"></td>
								<td class="muro"></td>
								<td class="muro"></td>
								<td></td>
							</tr>
							<!-- Fin Fila 42-->

							<!-- Fila 43 a 44-->
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td class="muro"></td>
								<td></td>

								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>

								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td></td>
								<td></td>

								<td></td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>

								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td></td>
							</tr>
							<!-- Fin Fila 43 a 44-->

							<!-- Fila 45 a 46-->
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td class="muro"></td>
								<td></td>

								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>

								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td></td>
								<td></td>

								<td></td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>

								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td></td>
							</tr>
							<!-- Fin Fila 45 a 46-->

							<!-- Fila 47 a 48-->
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td class="muro"></td>
								<td></td>

								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>

								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td></td>
								<td></td>

								<td></td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>

								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td></td>
							</tr>
							<!-- Fin Fila 47 a 48-->

							<!-- Fila 49 a 50-->
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td class="muro"></td>
								<td></td>

								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>

								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td></td>
								<td></td>

								<td></td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>

								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td></td>
							</tr>
							<!-- Fin Fila 49 a 50-->



							<!-- Fila 51-->
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td class="muro"></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<!-- Fin Fila 51-->

							<!-- Fila 52-->
							<tr>
								<td></td>
								<td class="muro"></td>
								<td class="muro"></td>
								<td class="muro"></td>

								<td class="muro"></td>
								<td class="muro"></td>
								<td class="muro"></td>
								<td class="muro"></td>

								<td class="muro"></td>
								<td class="muro"></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td class="muro"></td>
								<td class="muro"></td>

								<td class="muro"></td>
								<td class="muro"></td>
								<td class="muro"></td>
								<td></td>
							</tr>
							<!-- Fin Fila 52-->

							<!-- Fila 53-->
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<!-- Fin Fila 53-->


							<!-- Fila 54 a 55-->
							<tr>
								<td></td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>

								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>

								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td></td>
								<td>
									<div class="puestos text-center"></div>
								</td>

								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td></td>
								<td></td>

								<td></td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>

								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td></td>
							</tr>
							<!-- Fin Fila 54 a 55-->

							<!-- Fila 56 a 57-->
							<tr>
								<td></td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>

								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>

								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td></td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>

								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td></td>
								<td></td>

								<td></td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>

								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td></td>
							</tr>
							<!-- Fin Fila 56 a 57-->


							<!-- Fila 58 a 59-->
							<tr>
								<td></td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>

								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>

								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td></td>
								<td>
									<div class="puestos text-center"></div>
								</td>

								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td></td>
								<td></td>

								<td></td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>

								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td>
									<div class="puestos text-center"></div>
								</td>
								<td></td>
							</tr>
							<!-- Fin Fila 58 a 59-->

							<!-- Fila 60 a 61 -->
							<tr>
								<td></td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>

								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>

								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td></td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>

								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td></td>
								<td></td>

								<td></td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>

								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td>
									<div class="puestos puestosInv text-center"></div>
								</td>
								<td></td>
							</tr>
							<!-- Fin Fila 60 a 61-->



							<!-- Fila 62-->
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<!-- Fin Fila 62-->

						</tbody>
					</table>

				</div>
			</div>

			<!-- Contenedor con el mapa de la primera planta-->
		</div>
		<!--  MODAL -->
		<div class="modal fade" id="modal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true"  data-keyboard="false" data-backdrop="static">
			<div class="modal-dialog cascading-modal modal-avatar modal-sm"
				role="document">
				<!--Content-->
				<div class="modal-content">
					<!-- CONTENEDOR PARA MOSTRAR LA INFORMACIÓN DEL USUARIO -->
					<div id="infoEmpleado" class="modal-body text-center mb-1"></div>

					<!-- FORMULARIO PARA PUESTOS VACIOS PARA CREAR UN EMPLEADO Y ASIGNARLO AL PUESTO -->
					<div th:replace="/layout/layout :: formularioNuevoEmpleado"></div>
				</div>
			</div>
		</div>

		</main>
		<!--Main layout-->

		<!-- Footer -->
		<footer th:replace="layout/layout :: footer"></footer>
		<!-- Footer -->




		<script th:inline="javascript">
		//variable para las busquedas de usuario
        	var idUsuarioBuscado = [[${empleadoSeleccionado}]]
            const url = "http://localhost:8080/planta/ver/1";
            var puesto;
            var html;
            var idRegistro = [[${idRegistro}]]; 
            var divs = $('div.puestos');
            

			$.ajax({
			    url: "http://localhost:8080/planta/ver/1",
			    type: "GET",
			    data: {
			        "idRegistro" : idRegistro
			    },
			    contentType: 'application/json',
			    dataType: 'json',
			    success: function (data) {
	                             
	            	for (var i = 0; i < divs.length; i++) {
	            		if (i < data.length) {
	            			puesto = data[i];
	            		
	            			renderizarPuesto(puesto, divs[i], idUsuarioBuscado);
	   
						}
            		
             		}
	            	if (idUsuarioBuscado != null) {
	            		//ir al empleado buscado
		            	$([document.documentElement, document.body]).animate({
	            	        scrollTop: $("div#" + idUsuarioBuscado.puesto.idPuestoAuto).offset().top
	            	    }, 1200);
	            	}
	            	

    		    }	

            });

        </script>

	</div>
</body>

</html>