<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/layout/layout :: head"></head>
<body>
	<div class="main-content background-login">
		<!--Main Navigation-->
		<header th:replace="layout/layout :: header"> </header>
		<!--Main Navigation-->

		<div class="container my-5 ">
			<div class="container register">
				<div class="row">
					<div class="col-md-3 register-left">
						<img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
						<h2 th:text="#{text.usuario.bienvenida}"></h2>
						<h6 th:text="#{text.usuario.descripcion}"></h6>

						<!-- Input para introducir nombre usuario -->

						<div class="form-group row d-flex justify-content-center">
							<input type="text" class="form-control" placeholder=" Usuario a Buscar">
						</div>
						<!-- ./ Fin Input para introducir nombre usuario -->

						<!-- Boton para buscar -->
						<a th:href="@{/login}" role="button" class="btn btn-pink"
							th:text="#{text.usuario.btn.buscar}"></a>

						<!-- Boton para buscar -->


					</div>
					<div class="col-md-9 register-right">

						<div class="tab-content" id="myTabContent">
							<div class="tab-pane fade show active" id="home" role="tabpanel"
								aria-labelledby="home-tab">
								<div id="resultado"></div>


								<h3 class="register-heading" th:text="#{text.usuario.registrar}"></h3>
								<div class="row register-form">

									<div class="col-md-12">
										<div class="md-form row">
											<i class="fas fa-user prefix icon-color"></i> <input
												type="text" class="form-control"
												th:placeholder="#{text.usuario.place.usuario}"
												name="username" value="" />
										</div>

										<div class="md-form row">
											<i class="fas fa-unlock-alt prefix icon-color"></i> <input
												type="password" class="form-control" name="password"
												th:placeholder="#{text.usuario.place.contraseña}"
												id="passwordInput" />
										</div>
										<div class="md-form row">
											<i class="fas fa-lock prefix icon-color"></i> <input
												id="passwordToCheck" type="password" class="form-control"
												name="passwordRepeat"
												th:placeholder="#{text.usuario.place.confirmar.contraseña}"
												onkeyup="checkPassword()" />
											<div id="errorPassword" class="alert alert-danger"></div>
										</div>

										<div class="md-form">

											<select id="rolInput" class="form-control">
												<option class="hidden" selected disabled>Por favor
													Selecciona un Rol:</option>
												<option th:each="rol: ${roles}" th:value="${rol.getId()}"
													th:text="${rol.getAuthority()}">Administrador</option>
											</select>
										</div>

										<br>
										<form id="formRegistro" th:object="${usuarioDto}"
											th:action="@{/usuario/registro}" method="POST">
											<input id="passResult" type="hidden" value=""
												th:field="*{passwordEncoded}" /> <input id="nameResult"
												type="hidden" value="" th:field="*{username}" /> <input
												id="rolResult" type="hidden" value="" th:field="*{rol}" />


											<div class="form-group row d-flex justify-content-center">
												<button type="button" class="btn btn-primary"
													value="Crear Usuario" id="btnEnviar" disabled
													th:text="#{text.usuario.btn.crear}">Enviar</button>
											</div>
										</form>
									</div>


								</div>



							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

		<footer th:replace="layout/layout :: footer"></footer>
	</div>
	<script type="text/javascript">
		$("#btnEnviar")
				.onClick(
						function() {

							var contraseñasIguales = checkPassword();
							if (constraseñasIguales) {
								var pass = $("#passwordInput").val();
								var passEncoded = window.btoa(pass);
								$("#resultado").html(
										'<small>${passEncoded}</small>')
								$("#formRegistro").submit();

							} else {
								$("#errorPassword")
										.html(
												`<small>Las contraseñas deben ser iguales</small>`)
							}

						})

		function checkPassword() {
			var pass1 = $("#password").val();
			var passToCheck = $("#passwordToCheck").val();
			if (pass == passToCheck) {
				return true;
			} else {
				return false;
			}
		}
	</script>
</body>
</html>