<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head">
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>

	
	<div class="main-content">
		<!--Main Navigation-->
		<header th:replace="layout/layout :: header"> </header>
		<section>

			<!-- Contenedor con nombre de la planta y desplegable de la version-->
			<div class="container">
				<div class="row d-flex justify-content-center">
					<div class="col-md-12">
						<div class="card card-cascade wider">
							<div class="card-header indra-color text-white"  th:text="#{text.registro.title}" >
								<h2>SELECCIONA EL REGISTRO, EL COMPLEJO Y EL EDIFICIO </h2> 
							</div>
							<div class="card-body">
								<form class="container form-group" th:object="${registro}"
									method="POST" th:action="@{listar}">
									<div class="row my-2">

										<!-- Formulario para versión -->
										<div th:if="${complejo == null}" class="col-md-12">
											<label for="version" th:text="#{text.registro.select}">Selecciona la versión</label> <select
												id="version" th:field="*{idRegistro}"
												class="browser-default custom-select">
												<option th:each="r: ${registros}"
													th:value="${r.getIdRegistro()}"><span
														th:text="${r.getVersion()}"></span>
												</option>

											</select> <small class="text-danger"
												th:if="${#fields.hasErrors('idRegistro')}"
												th:errors="*{idRegistro}"></small>
										</div>
									</div>
									<div th:if="${registro.getVersion() != null}" class="row my-2">

										<!-- Formulario para versión -->
										<div class="col-md-12">
											<h4 th:text="#{text.registro.selected}">
												Versión seleccionada: <span
													th:text="${registro.getVersion()}"></span>
											</h4>
											<input type="hidden" th:value="${registro.idRegistro}"
												name="idRegistro" />
										</div>
									</div>

									<button th:if="${registro.getVersion() == null}"
										class="btn indra-btn-pink animated wobble" th:text="#{text.registro.btn.registro}">Registro</button>
								</form>
								<div th:if="${complejos != null && complejo != null}">
									<form class="container form-group" th:object="${complejo}"
										method="POST" th:action="@{/complejo/listar}">
										<div class="row my-2">
											<div class="col-md-4">
												<div th:each="c: ${complejos}" class="form-check">
													<input th:field="*{id}" class="form-check-input"
														type="radio" name="exampleRadios" id="exampleRadios1"
														th:value="${c.getId()}" required> <label
														class="form-check-label" for="exampleRadios1"> <span
														th:text="${c.getNombreComplejo()}"></span>
													</label>

												</div>
												<small class="text-danger"
													th:if="${#fields.hasErrors('id')}" th:errors="*{id}">ERROR</small>
											</div>
											<input type="hidden" th:value="${registro.idRegistro}"
												name="idRegistro" />
										</div>
										<div th:if="${complejo.getNombreComplejo() != null}"
											class="row my-2">
											<div class="col-md-12">
												<h5 th:text="#{text.registro.complejo.selected}">
													Complejo seleccionado: <span
														th:text="${complejo.getNombreComplejo()}"></span>
												</h5>

											</div>
										</div>
										<button th:if="${complejo.getNombreComplejo() == null}"
											class="btn indra-btn-pink animated wobble" type="submit" th:text="#{text.registro.btn.complejo}">Complejo</button>
									</form>
								</div>
								<div th:if="${edificios != null}">
									<form class="container form-group" th:object="${edificio}"
										method="POST" th:action="@{/edificio/listar}">

										<div class="col-md-4">
											<div th:each="e: ${edificios}" class="form-check">
												<input th:field="*{idEdificio}" class="form-check-input"
													type="radio" name="exampleRadios" id="exampleRadios1"
													th:value="${e.getIdEdificio()}" required> <label
													class="form-check-label" for="exampleRadios1"> <span
													th:text="${e.getNombreEdificio()}"></span>
												</label> <input type="hidden" th:value="${idRegistro}"
													name="idRegistro" />
											</div>
										</div>
										<div>
											<small class="text-danger"
												th:if="${#fields.hasErrors('idEdificio')}"
												th:errors="*{idEdificio}">ERROR</small>
										</div>

										<button class="btn indra-btn-pink animated wobble" th:text="#{text.registro.btn.edificio}">Edif</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Fin del Contenedor con nombre de la planta y desplegable de la version-->
		</section>

		<footer th:replace="layout/layout :: footer"></footer>



	</div>
</body>
</html>