<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head">
</head>
<meta charset="utf-8" />
<body>
	<div class="main-content">
		<!--Main Navigation-->
		<header th:replace="layout/layout :: header"> </header>
		<!--Main Navigation-->

		<!--Main layout-->

		<div class="loader"></div>

		<main class="container mt-3"> <!-- Jumbotron -->
		<div class="row d-flex justify-content-center">
			<div class="col-md-8">
				<div class="card text-center ">
					<div class="card-header">
						<!-- Title -->
						<h2 class="card-title h2" th:text="#{text.title}">Sube aquí tu nueva versión del
							censo</h2>
					</div>
					<!-- Subtitle -->
					<p class="blue-text my-4 font-weight-bold" th:text="#{text.subtitle}">Recuerda rellenar
						todos los campos</p>

					<!-- Grid row -->



					<!-- Grid row -->
					<div class="card-body">
						<form th:object="${fileWrapper}" th:action="@{/doc/upload}"
							method="POST" enctype="multipart/form-data">
							<div class="form-group mb-3">
								<label for="version" th:text="#{text.version}">Introduce cual será la siguiente
									versión</label> <input type="text" name="version" th:field="*{version}"
									class="form-control" id="version"
									th:placeholder="#{text.placeholder}" required onkeyup="typing()">
									<small class="text-danger"
												th:if="${#fields.hasErrors('version')}"
												th:errors="*{version}"></small>
							</div>

							<div class="custom-file">
								<input th:field="*{file}" type="file" name="file"
									class="custom-file-input"
									id="customFileLang" lang="es"> <label
									class="custom-file-label " for="customFileLang"
									th:text="#{text.seleccionar.archivo}">Seleccionar
									Archivo</label>
									<small class="text-danger"
												th:if="${#fields.hasErrors('file')}"
												th:errors="*{file}"></small>
							</div>
							
							<input name="admin" type="hidden"
							 th:value="${#authentication.getPrincipal().getUsername()}"/>
							<button type="submit" id="upload" class="btn btn-subir-indra"
							th:text="#{text.btn.subir}" disabled>Subir</button>


						</form>
					</div>

				</div>

			</div>
		</div>
		<!-- ./Grid seleccionar archivo --> <!-- Jumbotron --> </main>
		<!--Main layout-->

		<!-- Footer -->
		<footer th:replace="layout/layout :: footer"></footer>
		<!-- Footer -->


		<script type="text/javascript">

			$("#upload").click(function() {
				$(".loader").css("visibility", "visible");
			});
			
		</script>
		
		<script>
		var x = $("#version").val();
		if (x.length > 0) {
			
			$("#upload").prop("disabled",false);
		
		} else {
			$("#upload").prop("disabled",true);
		
		}
		
		function typing() {
			var x = $("#version").val();
			console.log(x);
			if (x.length > 0) {
				
				$("#upload").prop("disabled",false);
			
			} else {
				$("#upload").prop("disabled",true);
			
			}
		}
		
		</script>



	</div>
</body>
</html>