<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head">
</head>
<meta charset="utf-8" />
<body>
	<div class="main-content">
	<!--Main Navigation-->
	<header th:replace="layout/layout :: header"> </header>
	<!--Main Navigation-->

	<!--Main layout-->
	
	<div class="loader">
	
	</div>
	
	<main class="container mt-3"> 
	
	<!-- Jumbotron -->
		<div class="jumbotron text-center ">
	
			<!-- Title -->
			<h2 class="card-title h2">Sube aquí tu nueva versión del censo</h2>
			<!-- Subtitle -->
			<p class="blue-text my-4 font-weight-bold">Recuerda rellenar todos
				los campos</p>
	
			<!-- Grid row -->
			<div class="row d-flex justify-content-center">
	
				<!-- Grid column -->
				<div class="col-xl-7 pb-2">
	
					<p class="card-text">Lorem ipsum dolor sit amet, consectetur
						adipisicing elit. Fuga aliquid dolorem ea distinctio exercitationem
						delectus qui, quas eum architecto, amet quasi accusantium, fugit
						consequatur ducimus obcaecati numquam molestias hic itaque
						accusantium doloremque laudantium, totam rem aperiam.</p>
	
				</div>
				<!-- Grid column -->
	
			</div>
			<!-- Grid row -->
			<div th:if="${registro.getVersion() == null}" class="row d-flex justify-content-center">
				<div class="col-md-8">
				<form th:object="${registro}" method="POST" th:action="@{/doc/upload}">
					<input type="text" name="version" th:field="*{version}" class="form-group-item"
								placeholder="Nombre para la versión">
							<button type="submit" class="btn btn-subir-indra">Guardar nombre</button>
				</form>
				</div>
			</div>
	
			<!-- Grid seleccionar archivo -->
			<div th:if="${registro.getVersion() != null}" class="row d-flex justify-content-center">
				<div class="col-md-8">
					<hr class="my-4">
					<h5>Versión a añadir: <span th:text="${registro.getVersion()}"></span></h5>
					<div class="pt-2">
						<div class="custom-file">
							<form class="form-group" th:action="@{'/doc/upload/' + ${registro.getIdRegistro()}}" method="POST"
							enctype="multipart/form-data">
								
								<input type="file" name="file" class="custom-file-input input-indra"
									id="customFileLang" lang="es"> <label
									class="custom-file-label " for="customFileLang">Seleccionar
									Archivo</label>
								<button type="submit" id="upload" class="btn btn-subir-indra">Subir</button>
			
							</form>
						</div>
					</div>
	
					
				</div>
			</div>
			<!-- ./Grid seleccionar archivo -->
	
	
		</div>
	<!-- Jumbotron --> 
	</main>
	<!--Main layout-->

	<!-- Footer -->
	<footer th:replace="layout/layout :: footer"></footer>
	<!-- Footer -->
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script type="text/javascript">
		

	$( "#upload" ).click(function() {
		  
		  $(".loader").fadeIn();
		});
	
	$(window).load(function() {
	    $(".loader").fadeOut("slow");
	});
	</script>
	
	
	
</div>
</body>
</html>