<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head">
</head>
<meta charset="utf-8" />
<body>
	<div class="main-content">
		<!--Main Navigation-->
		<header th:replace="layout/layout :: header"> </header>
		<!--Main Navigation-->

		<!--Main layout-->

		<div class="loader"></div>

		<main class="container mt-3"> <!-- Jumbotron -->
		<div class="row d-flex justify-content-center">
			<div class="col-md-8">
				<div class="card text-center ">
					<div class="card-header">
						<!-- Title -->
						<h2 class="card-title h2">Sube aquí tu nueva versión del
							censo</h2>
					</div>
					<!-- Subtitle -->
					<p class="blue-text my-4 font-weight-bold">Recuerda rellenar
						todos los campos</p>

					<!-- Grid row -->



					<!-- Grid row -->
					<div class="card-body">
						<form th:object="${fileWrapper}" th:action="@{/doc/upload}"
							method="POST" enctype="multipart/form-data">
							<div class="form-group mb-3">
								<label for="version">Introduce cual será la siguiente
									versión</label> <input type="text" name="version" th:field="*{version}"
									class="form-control" id="version"
									placeholder="Nombre para la versión" required>
									<small class="text-danger"
												th:if="${#fields.hasErrors('version')}"
												th:errors="*{version}"></small>
							</div>

							<div class="custom-file">
								<input th:field="*{file}" type="file" name="file"
									class="custom-file-input"
									id="customFileLang" lang="es"> <label
									class="custom-file-label " for="customFileLang">Seleccionar
									Archivo</label>
									<small class="text-danger"
												th:if="${#fields.hasErrors('file')}"
												th:errors="*{file}"></small>
							</div>
							<button type="submit" id="upload" class="btn btn-subir-indra">Subir</button>


						</form>
					</div>

				</div>

			</div>
		</div>
		<!-- ./Grid seleccionar archivo --> <!-- Jumbotron --> </main>
		<!--Main layout-->

		<!-- Footer -->
		<footer th:replace="layout/layout :: footer"></footer>
		<!-- Footer -->

		<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script type="text/javascript">
			$("#upload").click(function() {

				$(".loader").fadeIn();
			});

			$(window).load(function() {
				$(".loader").fadeOut("slow");
			});
		</script>



	</div>
</body>
</html>