<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<!--Main Navigation-->
	<header th:replace="layout/layout :: header"> </header>
	<!--Main Navigation-->
<main>
	<div class="container py-3">
		<div class="row">

			<div class="col-md-12">
				<div class="card bg-danger">
					<div class="card-header text-center">
						<h5>Error.</h5>
					</div>
					<div class="card-body">
						<p>
							Lo sentimos, el usuario <span
								th:text="${#httpServletRequest.remoteUser}"></span> no tiene
							permiso
						</p>
						<a th:href="@{/registro/listar}" role="button" class="btn btn-light">Volver
							al inicio</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
	<!-- Footer -->
	<footer th:replace="layout/layout :: footer"></footer>
	<!-- Footer -->

</body>
</html>